@media (prefers-reduced-motion: no-preference) {
    .App_logo {
        animation: App_logo_spin infinite 20s linear;
    }
}
@keyframes App_logo_spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.face img{
    width: 500px;
    height: 500px;
}
.descriptionBlock{
    padding: 10px;
}

.contact{
    padding-left: 10px;
}
